@tailwind base;
@tailwind components;
@tailwind utilities;

tbody tr:nth-of-type(1) td:first-child {
  border-top-left-radius: 10px;
}
tbody tr:nth-of-type(1) td:last-child {
  border-top-right-radius: 10px;
}
tr:last-of-type::after {
  width: 0px;
  height: 0px;
}
